* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    background: rgba(109, 198, 196, 1) ;
    
    background-repeat:no-repeat;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
   

}


@media only screen and (min-width: 900px) {
    .fluid-container {
        width: 876px;
        
    }
}

.img-friends {
    margin: 30px 0;
    border-radius: 2rem;
  }
  #nome {
    color: black;
  }
  
  
  
  .container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    max-width: 100%;
    background-color:  white;
    width: 60rem;
    margin:5rem auto;
    
  }
  
  #caixa {
    font-family: "Kufam", cursive;
    font-size: 14px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:5px;
    border: 1px solid lightgray;
    border-radius: 10px;

  }
  
  #div-dados {
    
    display: flex;
    flex-direction: column;
   
  }
  
  #div-dados p {
    margin-bottom: -12px;
    color: black;
    line-height: 4px;
  }

  button{
    
    text-decoration: none;
    background: #e4e6eb;
    color: black;
    padding: 10px;
    border-radius: 7px;
    width: 5rem;   
}
  
/*QUERIES*/
@media only screen and (max-width: 768px) {
    .friend-box {
        width: 100% !important;
    }

    .search-friend-wrap {
        flex: 1;
    }

    .search-friend-wrap input {
        width: 100%;
    }
}